# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/
# we dont need to store the hashes, certs, or contracts
hashes/
certs/
contracts/
__pycache__/
eval/
# this file is causing headaches so just ignore it and code will autogenerate it upon opening the source
aiken.lock